:root {
  --background: #0D1B2A;
  --surface: #1B263B;
  --primary: #415A77;
  --secondary: #778DA9;
  --text-primary: #E0E1DD;
  --text-secondary: #778DA9;
  --accent: #F77F00;
}

[data-theme='light'] {
    --background: #ffffff;
    --surface: #f2f2f2;
    --primary: #e0e0e0;
    --secondary: #cccccc;
    --text-primary: #000000;
    --text-secondary: #555555;
    --accent: #007BFF;
}


body {
  margin: 0;
  background-color: var(--background);
  color: var(--text-primary);
}